{% extends 'base.html.twig' %}

{% block title %}Choisir un championnat{% endblock %}

{% block body %}
<h1>Choisir un championnat</h1>

<form method="get" action="{{ path('app_choose_championship_member') }}">
    <label for="championship">Sélectionnez un championnat :</label>
    <select id="championship" name="championship" required>
        <option value="" disabled selected>-- Choisissez un championnat --</option>
        {% for championship in championships %}
            <option value="{{ championship.id }}">{{ championship.ChampionshipName }}</option>
        {% endfor %}
    </select>

    <button type="submit">Valider</button>
</form>
{% endblock %}