{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1>Teams</h1>

    {% for team in teams %}
        {% if app.user and  team.creator.id == app.user.id %}
            <hr/>
        {% endif %}
        <h2> Team : {{ team.Name }} </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team.TeamMembers %}
                    <tr>
                        <td>{{ member.Name }}</td>
                        <td>{{ member.Email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        {% if app.user and team.creator.id == app.user.id %}
            <hr/>
        {% endif %}
    {% else %}
        <h1>No Team</h1>
    {% endfor %}

{% endblock %}
