{% extends 'base.html.twig' %}

{% block title %}Add Members{% endblock %}

{% block body %}
<div class="flex flex-col place-items-center">
    <h1 class="font-bold text-5xl tracking-tight text-gray-900 p-12 mt-72 bg-white shadow">Equipe {{team.Name}}</h1>
    <hr/>
    <h2>Membres de l'équipe</h1>   
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Email</th>
            </tr>

            {% for member in team.TeamMembers %}
                <tr>
                    <td>{{ member.Name }}</td>
                    <td>{{ member.Email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h2>New member</h1>
    {{ include('member/_form.html.twig') }}

    <br/>
</div>

{% endblock %}