{% extends 'base.html.twig' %}

{% block title %}{{ 'new.newMember'|trans }}{% endblock %}

{% block body %}

<html>
    <body>
        <div class="flex flex-row">
            
        </div>
    </body>
</html>
    
    

{{ include('member/_form.html.twig') }}
<a href="{{ path('app_member_index') }}"> {{ 'new.backToList'|trans }}</a>
{% endblock %}
