# Symfony Cache and Logs
/var/cache/
/var/log/
/var/sessions/
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

# Ignore .env files for sensitive environment variables
/.env
/.env.local
/.env.*.local

# Ignore Composer dependencies
/vendor/

# Ignore built assets
/public/build/
/node_modules/

# Symfony binaries
/bin/*
!bin/console

# User uploads and generated assets
/public/uploads/
/public/bundles/

# Ignore PHPUnit configuration
/phpunit.xml
/phpunit.xml.dist

# Ignore IDE and OS-specific files
.idea/
/*.iml
.DS_Store
Thumbs.db
*.swp
*.swo

# Ignore backup files
**/Entity/*~

