{# templates/championship/elimination.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Phase d'élimination{% endblock %}

{% block body %}
    <h1>Phase d'élimination</h1>

    {% for round, matches in matches_by_round %}
        <h2>Round {{ round }}</h2>
        <ul>
            {% for match in matches %}
                <li>
                    {{ match.blueTeam.name }} vs {{ match.greenTeam.name }} -
                    {{ match.state.value }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
