{% extends 'base.html.twig' %}

{% block title %}Gérer les équipes{% endblock %}

{% block body %}
    <h1>Gérer les équipes</h1>

    {% for team in teamsvalidated %}

    {% endfor %}

    {% for team in teamsnotvalidated %}

    {% endfor %}

{% endblock %}