{% extends 'base.html.twig' %}

{% block title %}{{ 'new.newChampionship'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'base.createNewChamp'|trans }}</h1>

    {{ include('championship_list/_form.html.twig') }}

{% endblock %}
