{% extends 'base.html.twig' %}

{% block title %}New ChampionshipList{% endblock %}

{% block body %}
    <h1>Créer un nouveau championnat</h1>

    {{ include('championship_list/_form.html.twig') }}

{% endblock %}
