<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('Images/logo.png') }}">
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body class="bg-gray-100">

    {% include "includes/notifications.html.twig" %}
    <div class="min-h-full">
        
        {% include "includes/bodyBlock.html.twig" %}

        {% block body %}
        {% endblock %}
    </div>

    <!-- Menu mobile -->
    {% include "includes/menuMobile.html.twig" %}

    <script src="{{asset('js/menuToggle.js') }}"></script>

</body>
</html>
